absl-py==1.2.0
albumentations==0.4.3
diffusers
einops==0.3.0
ftfy==6.1.1
huggingface-hub==0.8.1
invisible-watermark
imageio==2.9.0
imageio-ffmpeg==0.4.2
kornia==0.6.0
numpy
omegaconf==2.1.1
opencv-python==4.6.0.66
pytorch-lightning==1.4.2
pudb==2019.2
streamlit>=0.73.1
test-tube>=0.7.5
torch
torchmetrics
torchvision
torch-fidelity==0.3.0
transformers==4.19.2
tqdm==4.64.0
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip
-e .

regex
dall-e

black==20.8b1
flake8
pre-commit
pylint

jupyter
jupyterlab
matplotlib

gdown
